@mixin selector-base($type) {
    text-align: left;

    input {
        opacity: 0;
        position: fixed;
        left: -9999px;
        width: 1px;
        height: 1px;
        padding: 0;
        box-sizing: border-box;
        appearance: $type;

        &+label {
            display: inline-block;
            position: relative;
            font-size: var(--textfield-font-size);
            color: var(--textfield-border-color);
            height: var(--selector-label-height);
            line-height: var(--selector-label-height);
            padding-left: 30px;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;

            &::before,
            &::after {
                content: '';
                position: absolute;
            }

            svg {
                fill: var(--textfield-border-color);
            }
        }
    }
}

@mixin textfield-base($height) {
    width: 100%;
    height: $height;
    background-color: transparent;
    border-bottom: 1px solid var(--textfield-border-color);
    box-sizing: border-box;
    font-size: var(--textfield-font-size);
    font-weight: 400;
    color: var(--textfield-text-color);
    outline: none;
    transition: all .3s;

    &:focus {
        border-color: var(--textfield-text-color);
        box-shadow: 0 1px 0 0 var(--color-primary);

        &+label {
            color: var(--textfield-text-color);
            font-size: var(--font-size-12);
            transform: translateY(-100%);
        }
    }

    &:disabled {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
        color: rgba(0, 0, 0, 0.26);
    }

    &.is-invalid {
        border-color: var(--color-red);
        box-shadow: 0 1px 0 0 var(--color-red);

        &+label {
            &.is-active {
                width: 100%;

                &:after {
                    content: attr(data-error);
                    opacity: 1;
                    color: var(--color-red);
                    top: 57px;
                    font-size: var(--font-size-12);
                }
            }
        }
    }
}

@mixin textfield-label {
    position: absolute;
    top: 12px;
    left: 0;
    line-height: 24px;
    color: var(--textfield-border-color);
    font-size: var(--textfield-font-size);
    font-weight: 400;
    transition: .2s ease-out;
    cursor: text;
    pointer-events: none;

    &.is-active {
        font-size: var(--font-size-12);
        transform: translateY(-100%);
    }

    &:after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        transition: .2s opacity ease-out, .2s color ease-out;
    }
}

// =====================================================================
.form {
    @include space($y: var(--form-gap));
    padding: 0 12px;

    &__field {
        position: relative;
    }
}

// ======================= Selector
.checkbox {
    @include selector-base(checkbox);

    input[type="checkbox"] {
        &+label {
            &::before {
                z-index: 1;
                top: 10px;
                left: 6px;
                width: 0;
                height: 0;
                transform: rotateZ(37deg);
                transform-origin: 100% 100%;
                transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            }

            &::after {
                z-index: 0;
                top: 2px;
                left: 0;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: 1px solid var(--color-primary);
                transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            }
        }

        &:checked {
            &+label {
                &::before {
                    top: 3px;
                    left: 1px;
                    width: 8px;
                    height: 13px;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid var(--color-white);
                    border-bottom: 1px solid var(--color-white);
                }

                &::after {
                    background-color: var(--color-primary);
                }
            }
        }
    }
}

.radio {
    @include selector-base(radio);

    input[type="radio"] {
        &+label {

            &::before,
            &::after {
                z-index: 0;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                margin: 4px;
                border: 1px solid var(--color-gray-16);
                border-radius: 50%;
                transition: .28s ease;
            }
        }

        &:not(:checked) {
            &+label {
                &::after {
                    transform: scale(0);
                }
            }
        }

        &:checked {
            &+label {

                &::before,
                &::after {
                    border-color: var(--color-primary);
                }

                &::after {
                    background-color: var(--color-primary);
                    transform: scale(1.02);
                }
            }
        }

    }
}

// ======================= Textfield
.custom {

    &-input,
    &-textarea,
    &-dropdown,
    &-datetime-picker {
        position: relative;
        margin-top: var(--form-gap);

        &__input {
            @include textfield-base($height: var(--textfield-height));
            margin-bottom: var(--textfield-margin-bottom);
        }

        label {
            @include textfield-label;
        }
    }

    &-textarea {
        &__input {
            overflow: hidden;
            min-height: var(--textfield-height);
            padding: 3px 0 24px 0;
            margin-top: 12px;
            resize: none;
        }
    }

    &-search-input {
        position: relative;
        width: 100%;
        max-width: 200px;
        height: 36px;

        &__input {
            @include textfield-base($height: 36px);
            padding-right: 30px;
        }

        >button {
            @apply flex justify-end items-center;
            position: absolute;
            right: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);

            svg {
                width: 14px;
                height: 14px;
                fill: var(--color-gray-7);
                transition: .3s fill;
            }

            &:hover:not(:disabled) {
                svg {
                    fill: var(--textfield-text-color);
                }
            }
        }
    }

    &-datetime-picker {
        label {
            @include textfield-label();
        }

        .el-date-editor.el-input {
            width: 100%;
            height: var(--textfield-height);
            margin-bottom: var(--textfield-margin-bottom);

            .el-input {
                &__wrapper {
                    @include textfield-base($height: var(--textfield-height));
                    padding: 0;
                    border-radius: 0;
                    box-shadow: unset;
                }

                &__inner {
                    font-weight: 500;
                    color: var(--textfield-text-color);
                }

                &__prefix {
                    display: none;
                }
            }
        }
    }
}

// ======================= Dropdown 
.el-select {
    width: 100%;
    height: var(--textfield-height);
    border-bottom: 1px solid var(--textfield-border-color);

    &:focus {
        outline: none;
    }

    .el-tooltip__trigger {
        @apply flex items-center justify-between;
        width: 100%;
        height: 100%;
        min-height: auto;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: unset !important;
        font-size: var(--textfield-font-size);

        &:focus {
            outline: none;
        }

        .el-select__selected-item {
            line-height: 28px;
            color: var(--textfield-text-color);
            font-size: var(--textfield-font-size);
            font-weight: 400;
        }
    }

    &__popper {
        overflow: hidden;
        width: 100%;
        margin-top: -12px;
        margin-bottom: -12px;
        border-radius: 0 !important;
        border: 1px solid var(--color-black) !important;
        box-shadow: unset !important;

        .el-popper__arrow {
            display: none !important;
        }
    }

    &-dropdown {
        border-radius: 0;

        &__list {
            padding: 0 !important;
        }

        &__item {
            @apply flex items-center;
            padding: 6px !important;
            vertical-align: middle;

            span {
                font-weight: 400;
                font-size: var(--textfield-font-size);
                color: var(--textfield-text-color);
            }

            &.is-selected {
                background-color: var(--color-gray-13);

                span {
                    color: var(--textfield-text-color);
                }
            }

            &:hover,
            &.is-hovering {
                background-color: var(--color-black) !important;

                span {
                    color: var(--color-white) !important;
                }
            }
        }
    }
}

// ======================= Picker 
.el-picker__popper {
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    box-shadow: unset !important;

    .el-date-picker__time-header {
        display: none !important;
    }

    .el-popper__arrow {
        display: none;
    }
}

.el-date-picker {
    --el-color-primary: var(--color-gray-8) !important;
    --el-text-color-regular: var(--color-gray-8) !important;
    --el-datepicker-icon-color: var(--color-gray-8) !important;
    --el-datepicker-active-color: var(--color-gray-8) !important;
    width: var(--picker-width) !important;

    &__header {
        @apply flex items-center justify-around;

        &-label,
        .el-picker-panel__icon-btn {
            font-size: var(--font-size-18) !important;
            font-weight: 500 !important;

            &:hover {
                color: var(--color-gray-17) !important;
            }
        }
    }

    .el-picker-panel {
        &__content {
            width: 100% !important;
            margin: 0 !important;
            padding: var(--picker-padding);

            table {
                font-size: var(--font-size-14) !important;
            }

            th {
                padding: 5px 0;
                font-weight: 500;
                color: var(--color-gray-17);

                &[aria-label="Sunday"] {
                    color: var(--color-red);
                }

                &[aria-label="Saturday"] {
                    color: var(--color-blue);
                }
            }

            tr {
                td {
                    &:first-child {
                        color: var(--color-red) !important;
                    }

                    &:last-child {
                        color: var(--color-blue);
                    }
                }
            }

            td {
                width: var(--picker-cell-size) !important;
                height: var(--picker-cell-size) !important;
                padding: 0 !important;
                font-weight: 500;

                &.prev-month,
                &.next-month {
                    opacity: .5;
                }

                .el-date-table-cell {
                    width: 100%;
                    height: var(--picker-cell-size) !important;
                    padding: 0;

                    &__text {
                        width: var(--picker-cell-size) !important;
                        height: var(--picker-cell-size) !important;
                        line-height: var(--picker-cell-size) !important;
                        border-radius: 0 !important;
                        transition: .3s color, .3s background-color, .3s border-color, .3s opacity;

                        &:hover {
                            background-color: var(--color-gray-8);
                            color: var(--color-white) !important;
                        }
                    }
                }
            }
        }

        &__footer {
            @apply flex justify-between;
            padding: var(--picker-padding);

            button {
                line-height: 2;
                margin: 8px;
                border: 0;
                color: var(--color-gray-8);

                &:first-child {
                    opacity: .7;
                }

                &:hover {
                    background-color: transparent !important;
                    color: var(--color-black);
                }
            }
        }
    }

    .time-picker__wrapper {
        margin-top: 5px;
        margin-bottom: 10px;
        padding: var(--picker-padding);
    }

    .time-text-group,
    .slider-group {
        @apply flex items-center;
        font-size: var(--font-size-12);
        font-weight: 400;

        span {
            min-width: 50px;
            font-weight: 500;
        }

        input[type=range] {
            -webkit-appearance: none;
            height: 10px;
            background-color: var(--color-gray-20);
            border: 1px solid var(--color-gray-13);
            border-radius: 5px;
            width: 100%;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 14px;
                height: 14px;
                background-color: var(--color-white);
                border: 1px solid var(--color-gray-19);
                border-radius: 50%;
                cursor: pointer;
                transition: .3s background-color;

                &:hover,
                &:focus {
                    background-color: var(--color-gray-18);
                }
            }
        }
    }
}