$btn-size: (
  sm: (
    padding: 4px 14px,
    font-size: var(--font-size-12),
    icon-size: 13px,
  ),
  md: (
    padding: 6px 16px,
    font-size: var(--font-size-14),
    icon-size: 13px,
  ),
  lg: (
    padding: 9px 20px,
    font-size: var(--font-size-18),
    icon-size: 18px,
  ),
);

@mixin btn-base($size: 'md', $type: 'full', $color: var(--color-primary-800)) {
  display: inline-block;
  width: fit-content;
  line-height: 20px;
  padding: map-get(map-get($btn-size, $size), padding);
  border-radius: 4px;
  border: none;
  // border: 1px solid $color;
  // background-color: if($type== 'full', $color, var(--color-white));
  box-sizing: border-box;
  font-size: map-get(map-get($btn-size, $size), font-size);
  // color: if($type== 'full', var(--color-white), $color);
  @if $type == 'primary' {
    background: var(--color-primary-800);
    color: var(--color-white);
  } @else if $type == 'line' {
    background: var(--color-white);
    color: var(--color-primary-800);
    border: 1px solid var(--color-primary-800);

    &:active {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  text-align: center;
  transition:
    0.3s background-color,
    0.3s color,
    0.3s border-color;
  cursor: pointer;

  svg {
    width: map-get(map-get($btn-size, $size), icon-size);
    height: map-get(map-get($btn-size, $size), icon-size);
    fill: if($type== 'full', var(--color-white), $color);
    transition: 0.3s fill;
  }

  // &:hover:not(:disabled) {
  //   background-color: if($type== 'full', var(--color-white), $color);
  //   color: if($type== 'full', $color, var(--color-white));

  //   svg {
  //     path {
  //       fill: if($type== 'full', $color, var(--color-white));
  //     }
  //   }
  // }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  & + button {
    margin-left: 10px;
  }
}

.admin-btn {
  &__primary {
    @include btn-base;
    background: var(--color-primary-800);
    color: var(--color-white);

    &--lg {
      @include btn-base($size: lg);
    }
  }

  &__danger {
    @include btn-base($color: #d00);
  }

  &__line {
    @include btn-base($type: line, $color: var(--color-gray-4));
  }

  &__text {
    padding: 12px 0;
    border-bottom: 1px solid transparent;
    font-size: var(--font-size-14);
    color: gray;

    svg {
      fill: gray;
    }

    &:hover:not(:disabled) {
      color: #333;
      border-bottom-color: var(--color-primary);
    }
  }
}

@mixin btn-neutral($size: 'md', $type: 'normal', $color: var(--color-white)) {
  display: inline-block;
  width: fit-content;
  padding: map-get(map-get($btn-size, $size), padding);
  background: $color;
  border-radius: 4px;
  color: var(--color-gray-400);
  cursor: pointer;
  @if $type == 'line' {
    border: 1px solid var(--color-gray-150);
  } @else if $type != 'line' {
    border: none;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background: rgba(0, 0, 0, 0.06);
  }

  &:active(:disabled) {
    background: rgba(0, 0, 0, 0.12);
  }

  & + button {
    margin-left: 10px;
  }
}

// icon
@mixin btn-icon($type: 'img') {
  // @apply flex, align-items, justify-center;
  display: inline-block;
  width: fit-content;
  border: none;
  background-color: var(--color-white);
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    @if $type == 'img' {
      width: 24px;
      height: 24px;
    }
  }
}

.btn {
  &--primary {
    @include btn-base($color: var(--color-primary-800), $type: 'primary');

    &__lg {
      @include btn-base($size: 'lg', $type: 'primary');
    }

    &__sm {
      @include btn-base($size: 'sm', $type: 'primary');
    }
  }

  &--line {
    @include btn-base($color: var(--color-white), $type: 'line');

    &__lg {
      @include btn-base($size: 'lg', $type: 'line');
    }

    &__sm {
      @include btn-base($size: 'sm', $type: 'line');
    }
  }

  &--neutral {
    @include btn-neutral($color: var(--color-white));
  }
  &--neline {
    @include btn-neutral($type: 'line');
  }

  &--icon {
    @include btn-icon;

    &__play {
      @include btn-icon($type: 'img');
      &:before {
        background: url('/src/assets/icon/play.svg');
      }
    }
  }
}
